 
:root {
  --english-violet: #594157;
  --ultra-violet: #726DA8;
  --glaucous: #7D8CC4;
  --non-photo-blue: #A0D2DB;
  --mint-green: #BEE7E8;
}

.App {
  text-align: center;
  background-color: var(--mint-green);
  color: var(--english-violet);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: var(--non-photo-blue);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  color: var(--ultra-violet);
}

p {
  color: var(--glaucous);
}
.Fon-logo {
  max-width: 200px;  
  margin-bottom: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login-logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  padding: 10px 20px;
  background-color: var(--non-photo-blue);  
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--glaucous);  
}

.login-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  padding: 10px 20px;
  background-color: var(--non-photo-blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--glaucous);
}

.predmeti-container {
  margin: 20px;
}

.predmeti-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.predmeti-table th,
.predmeti-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.predmeti-table th {
  background-color: var(--ultra-violet);
  color: white;
}

.predmeti-table tr:nth-child(even) {
  background-color: var(--non-photo-blue);
}

.predmeti-table tr:nth-child(odd) {
  background-color: var(--glaucous);
}



.quiz-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--mint-green);
}

.question-section,
.score-section {
  margin-bottom: 20px;
}

.question-count {
  margin-bottom: 20px;
}

.question-text {
  margin-bottom: 20px;
}

.answer-section button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--ultra-violet);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-section button:hover {
  background-color: var(--glaucous);
}
